<!-- ryhara 処理でエラーでたらInternal Server Error表示する -->

<html>
  <head>
    <meta charset="utf-8" />
    <title>Internal Server Error</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container text-center" style="margin-top: 100px">
      <h1 class="text-center archivo-black-regular">500 - Internal Server Error</h1>
      <br />
      <a href="/">Back to Top</a>
    </div>
  </body>
</html>
