{% extends 'index.html' %} {% block content %}
{% load i18n %}
{% load static %}
<div id="game-over-message"></div>

<div class="content-wrapper" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <div class="winner-message" style="width: 100%; display: flex; justify-content: center; align-items: center;">
    <h2 id="winner-name" class="text-center" style="text-align: center; margin-top: 20px;"></h2>
  </div>

  <!-- <button type="button" class="btn btn-primary" id="gameFinishButton"  style="margin-top: 20px; padding: 10px 20px; font-size: 18px; color: #fff; background-color: #555; border: none; border-radius: 5px; cursor: pointer;">{% blocktranslate %}End Tournament{% endblocktranslate %}</button> -->
  <button type="button" class="btn btn-primary" id="gameFinishButton" aria-label="end tournament">
    {% blocktranslate %}End Tournament{% endblocktranslate %}
  </button>
</div>

{% endblock %}