{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div>
      <h1 class="text-center my-5 regular archivo-black-regular">
        Tournament Registration
      </h1>
    </div>
    <div>
      <div class="d-grid col-4 mx-auto mb-5">
        <input
          type="text"
          class="form-control"
          id="tournamentName"
          placeholder="tournament name"
          maxlength="30"
        />
      </div>
    </div>
    <div class="col-4" id="playerList">
      <div class="mb-4">
        <form id="user1" class="input-group">
          <input
            type="text"
            class="form-control"
            id="name1"
            placeholder="player name"
            maxlength="10"
            oninput="checkStartButtonValid()"
          />
        </form>
      </div>
      <div class="mb-4">
        <form id="user2" class="input-group">
          <input
            type="text"
            class="form-control"
            id="name2"
            placeholder="player name"
            maxlength="10"
            oninput="checkStartButtonValid()"
          />
        </form>
      </div>
    </div>

    <div class="text-center mb-4">
      <button id="addPlayer" class="btn btn-secondary">
        <i class="bi bi-person-plus"></i>
      </button>
    </div>

    <div class="d-grid gap-4 col-4 mx-auto mt-5">
      <button type="button" id="startGameButton" class="btn btn-primary">
        Make Tournament
      </button>

      <!-- TODO : test用ボタン 不要になったら削除 -->
      <button type="button" id="testDataButton" class="btn btn-danger">
        Test Data push
      </button>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="tournamentModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Tournament</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="tournamentModalBody">
            <h4 id="tournamentNameDisplay"></h4>
            <div id="tournamentDraw"></div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="startTournamentButton"
            >
              Start
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
