{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div>
      <h1 class="text-center my-5 regular archivo-black-regular">
        Tournament Registration
      </h1>
    </div>
    <div>
      <div class="d-grid col-4 mx-auto mb-5">
        <input
          type="text"
          class="form-control"
          id="tournamentName"
          placeholder="tournament name "
        />
      </div>
    </div>
    <div class="col-4" id="playerList">
      <div class="mb-4">
        <form id="user1" class="input-group">
          <input
            type="text"
            class="form-control"
            id="name1"
            placeholder="player name"
            oninput="checkStartButtonValid()"
          />
        </form>
      </div>
      <div class="mb-4">
        <form id="user2" class="input-group">
          <input
            type="text"
            class="form-control"
            id="name2"
            placeholder="player name"
            oninput="checkStartButtonValid()"
          />
        </form>
      </div>
    </div>

    <div class="text-center mb-4">
      <button id="addPlayer" class="btn btn-secondary">
        <i class="bi bi-person-plus"></i>
      </button>
    </div>

    <div class="d-grid gap-4 col-4 mx-auto mt-5">
      <button id="startButton" class="btn btn-primary">Start</button>
    </div>
  </div>
</div>

{% load static %}
<script src="{% static 'js/game/start.js' %}"></script>

{% endblock %}
