{% extends 'base.html' %} {% block content %}
<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center min-vh-100"
>
  <div class="container">
    <div class="d-grid gap-4">
      <div>
        <h1 class="text-center archivo-black-regular" style="font-size: 5rem">
          Pong
        </h1>
      </div>
      <div class="d-grid gap-4 col-4 mx-auto mt-5">
        <button id="startButton" class="btn btn-primary">
          Start Tournament
        </button>
        <button id="dashboardButton" class="btn btn-secondary">
          Dashboard
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    function init() {
      bindEventHandlers();
    }
    window.addEventListener("popstate", handlePopState);

    init();
  });
</script>
{% endblock %}
