
.round {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.match {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.participant-name {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin: 0 5px;
}

.winner {
  color: red;
}